

layout {
    pane split_direction="vertical" {
        pane size="80%" name="Lunar Vim" {
            cwd "/home/snake/projects/motion-canvas-projects/superekinbintan_promo/"
            command "lvim"
        }
        pane size="20%" name="Server"{
            cwd "/home/snake/projects/motion-canvas-projects/superekinbintan_promo/"
        }
    }
    pane size=10 split_direction="vertical" {
        pane {
          cwd "/home/snake/"
        }
        pane name="Music Folder"{
        	cwd "/home/snake/Music/"
        }
        pane name="Other" {
          cwd "/home/snake/"
        }
    }
}
